<html>
  <head>
    <title>Countdown!</title>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', path='/countdowns.js') }}"></script>
  </head>
  <body>
    <h1 class="countdown-timer">
      A countdown timer!
    </h1>
    <ul class="timer-list">
      {% for item in data %}
      <li class="timer-box">
        <div><a href="{{ url_for('single_timer', item_id=loop.index0) }}">{{ item.name }}</a></div>
        <div>{{ item.date }}</div>
        <div id="timer{{ loop.index0 }}" class="timer" data-date="{{ item.date }}"></div>
        <div>{{ item.text }}</div>
      </li>
      {% endfor %}
    </ul>
    <footer>You can also check the <a href="/redoc">api documentation</a> or an <a href="/docs">easy api playground</a>.</footer>
</html>
